<section *ngIf="product" class="m-5">
  <h2>{{ product.name }}</h2>
  <p><b>Quantity: </b>{{ product.quantity }}</p>

  <input
    pInputText
    type="text"
    #quantity
    placeholder="Amount of quantity to import/ship"
    class="mb-3"
  />
  <div>
    <p-button
      label="Import"
      (click)="importProduct({ name: product.name, quantity: +quantity.value })"
    ></p-button>
    <p-button
      label="Ship"
      styleClass="p-button-outlined p-button-secondary"
      [style]="{ 'margin-left': '0.5em' }"
      (click)="shipProduct(+quantity.value)"
    ></p-button>
  </div>
</section>
